<div class="footer">
  <div class="footer-links">
        <a target="_blank" href="https://www.facebook.com/hjs.comedy/"><i class="fa fa-facebook"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/18549581/"><i class="fa fa-linkedin"></i></a>
    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/hjs-comedy"><i class="fa fa-github"></i></a>

  </div>


<div class= "hidden-xs hidden-md centeral">
    <%= image_tag "http://logo-logos.com/wp-content/uploads/2016/10/Decathlon_logo.png" %>
    <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1521473078/Norauto_logo_ekqjeu.png" %>
</div>

  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018,   HJS Comedy, All Rights Reserved <p>
  </div>
</div>
